extends ./layout
block contenido
	div(id="mySidenav" class="sidenav")
		a(href="/matriz" id="matriz") Matriz
		a(href="/horas" id="extras") Extras
	h2(class='text-align-center') Por favor ingresa las horas extras:
	div(id='form')
		form(action='/extras' method='POST')
			label(for='dia') 
				strong Fecha
			input(type='date' name='dia' placeholder='aaaa/mm/dd' id='dia' 
				class='form-control' required='true'   utofocus)
			label(for='ex_dia') 
				strong Horas extra diurnas
			input(type='text' name='ex_dia' placeholder='extras diurnas' id='ex_dia' 
				class='form-control' required='true')
			label(for='ex_noche') 
				strong Horas extra nocturnas
			input(type='text' name='ex_noche' placeholder='extras noche' id='ex_noche' 
				class='form-control' required='true')
			label(for='ex_dom') 
				strong Horas extra dominicales
			input(type='text' name='ex_dom' placeholder='extras dominicales' id='ex_dom' 
				class='form-control' required='true')
			label(for='rec_noc') 
				strong Horas recargo nocturno
			input(type='text' name='rec_noc' placeholder='recargo noche' id='rec_noc' 
				class='form-control' required='true')
			label(for='personas') 
				strong Numero de Pesonas
			input(type='text' name='personas' placeholder='personas' id='personas' 
				class='form-control' required='true' value='38')
			input(type='submit' value='Guardar Horas' class='btn btn-info')
			