extends ../layout
block contenido
  h2(class='text-align-center') ESTADO GENERAL
  h2(class='text-align-center') Uds programadas: #{pro}   --- Uds en corte: #{cor}  --- Uds totales: #{tot}  
  div(id='table')
    table
      tr
        th(class='th1') OP
        th(class='th1') TR
        th(class='th1') CLIENTE
        th(class='th1') REF
        th(class='th1') UDS
        th(class='th1') MOD
        th(class='th1') F_PROGRA   
        th(class='th1') EXTENDIDO
        th(class='th1') CORTE
        th(class='th1') TIQUETEO
        th(class='tooltip' id='th1') ESTAMPACION
          span(class='tooltiptext') verde entregado
          span(class='tooltiptext1') rojo sin entregar
      tr
        for dato in datos
          tr
            if dato.extendido == undefined
              th=dato.op
            else
              th(class='th')=dato.op
            th=dato.trazo
            th=dato.cliente
            th=dato.ref
            th=dato.uds
            th=dato.modu
            th=dato.fecha.toLocaleDateString()
            if dato.extendido==undefined
              th
            else
              th=dato.extendido.toLocaleString()
            if dato.corte==undefined
              th
            else
              th=dato.corte.toLocaleString()
            if dato.tiqueteo==undefined
              th
            else
              th=dato.tiqueteo.toLocaleString()
            if dato.est!==1
              th
            else if dato.est==1 && dato.estampado==undefined
              th.th2
            else if dato.est==1 && dato.estampado!==undefined
              th.th3=dato.estampado.toLocaleString()
          tr
