extends ../layout
block contenido
	h2 Por favor ingresa la nueva referencia
	div(class='container big-top-space')
		form(action='/imagenes' method='POST' enctype='multipart/form-data')
			div(class='grid-container')
				div
					input(type='text' name='referencia' placeholder='referencia' id='referencia' 
					class='form-control' autofocus)
				div
					input(type='text' name='cliente' placeholder='cliente' 
					id='cliente' class='form-control')
				div
					input(type='file' name='archivo' id='archivo' class='form-control')
				div
					input(type='submit' value='Guardar datos' class='btn btn-info')
	h2 Por favor consulta la referencia para ver el mini trazo
	div(class='col-md-5 container big-top-space')
		table
			tr
				th REFERENCIA
				th CLIENTE
			tr
			for re in ref
				tr
					if(re.referencia != 'undefined')
						th
							a(href='/ref/'+re._id)=re.referencia
					else
						th=re.referencia
					th=re.cliente
				tr